<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="APP_NAME">springboot</Property>
        <Property name="LOG_FILE_PATH">./logs/$${date:yyyy-MM-dd}</Property>
        <!-- 設置 Log 輸出格式 -->
        <Property name="PATTERN_FORMAT">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 輸出到console -->
            <!-- <PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" disableAnsi="false" /> -->
            <PatternLayout pattern="${PATTERN_FORMAT}" />
        </Console>

        <!-- 輸出 info log 到文件 -->
        <RollingFile name="RollingFile" fileName="./logs/spring-boot-logger-log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">

            <PatternLayout>
                <!-- <pattern>%d %p %C{1.} [%t] %m%n</pattern> -->
                <pattern>${PATTERN_FORMAT}</pattern>
            </PatternLayout>

            <Policies>
                <!-- 當系統重啟/日期更新/超過100M將覆蓋文件 -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!--輸出 error Log 到檔案，也可以設定將某級別以上的log輸出到另一份檔案中-->
<!--        <RollingFile name="RollingErrorFile" fileName="${LOG_FILE_PATH}/error.log"-->
<!--                     filePattern="${LOG_FILE_PATH}/$${date:yyyyMM}/error-%d{yyyyMMdd}-%i.log.gz">-->
            <!--只輸出 level 及以上級別的信息（onMatch），其他的直接拒絕（onMismatch）-->
<!--            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->

<!--            <PatternLayout>-->
<!--                <pattern>${PATTERN_FORMAT}</pattern>-->
<!--            </PatternLayout>-->

<!--            <Policies>-->
<!--                <OnStartupTriggeringPolicy/>-->
<!--                <SizeBasedTriggeringPolicy size="100 MB"/>-->
<!--                <TimeBasedTriggeringPolicy/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->
    </Appenders>

    <Loggers>
        <!-- 過濾掉 spring 和 mybatis 的一些無用的 log -->
        <Logger name="org.springframework" level="INFO" />
        <Logger name="org.mybatis" level="INFO" />
        <!-- 只輸出 info 級別以上的 log -->
        <Root level="Info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="RollingErrorFile" />
        </Root>
    </Loggers>

</Configuration>